<div class="modal-overlay">
  <div class="modal">
    <button class="close-btn" (click)="cancel()">×</button>

    <h2>Nota #{{ invoice?.number }}</h2>
    <tr>
      Status: {{ invoice?.status }} |
      Cliente: {{ invoice?.customerName }}
    </tr>


    <ul>
      <li *ngFor="let item of invoice?.items; let i = index">
        <ng-container *ngIf="getProduct(item) as product">
          Produto: {{ product.description }} -
          Qtd:
          <input
            *ngIf="invoice?.status === 'OPEN'"
            type="number"
            [(ngModel)]="item.quantity"
            (ngModelChange)="updateItemQuantity(i, $any($event.target).valueAsNumber)"
          />
          <span *ngIf="invoice?.status !== 'OPEN'">{{ item.quantity }}</span>
          Preço: {{ product.price | currency:'BRL' }}{{ product.unit }} -
          Total: {{ product.price * item.quantity | currency:'BRL' }}
        </ng-container>
        <p *ngIf="!getProduct(item)">
          Carregando produto...
        </p>
      </li>
    </ul>

    <div *ngIf="invoice.status === 'OPEN'">
      <p>
      <select [(ngModel)]="selectedProductId">
        <option [value]="0">Selecione</option>
        <option *ngFor="let p of products()" [ngValue]="p.id">{{ p.description }}</option>
      </select>


      <input type="number" [(ngModel)]="quantity" />
      <button class="red" (click)="addItem()">Adicionar Item</button>
      </p>
    </div>

    <hr />

    <button *ngIf="invoice.status === 'OPEN'" (click)="save()">Salvar Alterações</button>
    <button *ngIf="invoice.status === 'OPEN'" (click)="print()">Fechar / Imprimir</button>
    <button *ngIf="invoice.status === 'OPEN'" (click)="delete()">Excluir Nota</button>
  </div>
</div>
